mixin banner
    section.banner__small
        .container
            .title__wrap
                .subtitle Contact
                .title 聯絡我們
                .text 歡迎與我們聯絡，請您填寫好詳細資料，送出之後，我們都會竭盡所能為您提供最優質的客戶服務和支援。感謝您對我們的支持和信任，我們期待與您的聯繫！

