mixin banner
    section.banner__large
        .container
            .text__wrap
                .text__inner
                    .subtitle Second Rank Mortgage
                    .title 房屋二胎
                    .text 申請銀行房屋二胎卻遭婉拒嗎?銀行審核嚴格，在銀行法的限制下，只要借款人條件信用狀況評分未達標準就會被婉拒！但找到對的單位幫您處理房二胎貸款，能讓您順利核貸，選擇熊蓋厚貸絕對沒問題，而且免費諮詢、免費估價。

            .img__wrap
                <video autoplay loop id="video-background" muted plays-inline>
                    <source src="../assets/images/house.mp4" type="video/mp4">
                </video>

