mixin compare
    section.compare
        .container
            .title__wrap
                .title 汽車貸款管道比較

            .compare__inner
                img(src="../assets/images/car/compare.png" alt="汽車管道比較")

