mixin dealer
    section.dealer
        .container
            .title__wrap
                .title 優質經銷單位

            .dealer__content
                p 熊蓋厚貸為新鑫房貸直屬經銷商，房貸案件核准率高達9成以上，位居全台第二，提供免費諮詢，從送件到核准撥款最快只要3天就可以完成。

            ul.dealer__list
                li.dealer__item
                    .img__wrap
                        img(src="../assets/images/house/dealer-01.png")
                    .dealer__text 房貸核准率95%

                li.dealer__item
                    .img__wrap
                        img(src="../assets/images/house/dealer-02.png")
                    .dealer__text 位居全台第二

                li.dealer__item
                    .img__wrap
                        img(src="../assets/images/house/dealer-03.png")
                    .dealer__text 多年審核協調經驗

                li.dealer__item
                    .img__wrap
                        img(src="../assets/images/house/dealer-04.png")
                    .dealer__text 案件直送最快3天
