mixin info
    section.info
        .container
            .title__wrap
                .title 職業不再是貸款的限制

            .info__content
                p 不論是自營商、市場攤商、臨時工、領現族、soho族或是酒店公關，只要名下有房都能申請二胎房貸。

            ul.info__list
                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-01.jpg")
                    .info__text 市場攤販，也能貸

                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-02.jpg")
                    .info__text 家庭保母，也能貸

                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-03.jpg")
                    .info__text 工地人員，也能貸

                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-04.jpg")
                    .info__text 外送(送貨)員，也能貸

            .title__wrap
                .title 不論房型/屋齡

            .info__content
                p 公寓，華廈，大樓，透天或是預售屋、新交屋需裝潢，老屋想重建也都能申貸唷!

            ul.info__list
                li.info__item
                    .img__wrap
                        img(src="../assets/images/house/info-05.png")
                    .info__text 公寓/華廈/大樓，也能貸

                li.info__item
                    .img__wrap
                        img(src="../assets/images/house/info-06.png")
                    .info__text 透天厝，也能貸

                li.info__item
                    .img__wrap
                        img(src="../assets/images/house/info-07.png")
                    .info__text 預售屋/新交屋，也能貸

                li.info__item
                    .img__wrap
                        img(src="../assets/images/house/info-08.png")
                    .info__text 近期剛申貸，也能貸


