mixin intro
    section.intro
        .container
            .title__wrap
                .title 房屋二胎介紹

            .intro__content
                p 相較於銀行，審核寬鬆許多，無收入證明也沒關係，只要房屋仍有貸款空間，一樣可以申請新鑫二胎房屋貸款，且可以順利核貸撥款。

            ul.intro__list
                li.intro__item
                    .intro__item__title 申貸條件
                    .intro__item__text
                        p ☑ 20-65歲
                        p ☑ 名下有機車
                        p ☑ 車主願意擔任保人
                        p ☑ 前貸已繳六期

                li.intro__item
                    .intro__item__title 所需文件
                    .intro__item__text
                        p ☑ 身分證正反面影本
                        p ☑ 車輛行照正反面影本
                        p ☑ 健保卡或駕照影本
                        p ☑ 存摺封面影本(撥款用)

                li.intro__item
                    .intro__item__title 機車貸款優勢
                    .intro__item__text
                        p ☑ 最高額度60萬
                        p ☑ 免留機車、免押證件
                        p ☑ 高過件率、撥款快速
                        p ☑ 不限職業、不限車種
                        p ☑ 貸款中也還再貸

                li.intro__item
                    .intro__item__title 無法承作狀況
                    .intro__item__text
                        p ☑ 有民間私人設定
                        p ☑ 近期已經聯徵多查
                        p ☑ 曾被本票裁定
                        p.watchout ❗近期剛撥款或密集申貸，建議您先培養信用

