mixin step
    section.step
        .container
            .title__wrap
                .title 申貸只要４步驟

            .step__timeline
                .step__timeline__point
                .step__timeline__point
                .step__timeline__point
                .step__timeline__point

            ul.step__list
                li.step__item
                    .step__item__title 1 . 線上免費諮詢
                    .img__wrap
                        img(src="../assets/images/house/step-01.png")
                    .step__item__text 線上填單留下您的聯絡方式或是撥打服務專線 0800-818188，也可以加入LINE 一對一客服，服務專員將與您聯繫核對資料。

                li.step__item
                    .step__item__title 2 . 送審1天可知結果
                    .img__wrap
                        img(src="../assets/images/house/step-02.png")
                    .step__item__text 房貸經理將協助您房屋鑑價及資料送審，並盡力幫您爭取滿足您需求的額度，一日內即可知道鑑價結果。

                li.step__item
                    .step__item__title 3 . 對保簽約及不動產設定
                    .img__wrap
                        img(src="../assets/images/house/step-03.png")
                    .step__item__text 會依據申請人提供的資料進行照會，並審核是否具備還款條件及申貸標準，核准後會約定好時間地點，當面確認簽約，保障彼此權益，並至地政事務所進行抵押權設定。

                li.step__item
                    .step__item__title 4 . 銀行24小時撥款入帳
                    .img__wrap
                        img(src="../assets/images/house/step-04.png")
                    .step__item__text 以上作業流程結束，就會從銀行撥款至申請人指定的帳戶，最快24小時撥付貸款，快速解決您的資金需求！


