include common/_googleMap
include about/_banner
include about/_history
include about/_philosophy
include about/_activity
include about/_notice
include about/_promotion
include about/_help
include about/_office

doctype html
html(lang="zh-Hant")

    // Include Common Head
    include common/_head

    // Main
    body(data-page="about")
        include ./common/_header

        main
            #content.content
                +banner()

                +promotion()

                +notice()

                +help()

                +history()

                +office()

                //+philosophy()

                +activity()


        include common/_footer

        include common/_script
