include article/_banner
include article/_articleDetail

doctype html
html(lang="zh-Hant")

    // Include Common Head
    include common/_head

    // Main
    body(data-page="contact")
        include ./common/_header

        main
            #content.content
                +banner()

                +articleDetail()



        include common/_footer

        include common/_script
