include car/_banner
include car/_step
include car/_contact
include car/_info
include car/_intro
include car/_customer
include car/_faq
include car/_video
include car/_compareImage


doctype html
html(lang="zh-Hant")

    // Include Common Head
    include common/_head

    // Main
    body
        include ./common/_header

        main
            #content.content
                +banner()

                +step()

                +info()

                +intro()

                +contact()

                +compare()

                +video()

                +faq()

                +customer()

                +contact()

        include common/_footer

        include common/_script
