include house/_banner
include house/_step
include house/_contact
include house/_info
include house/_intro
include house/_customer
include house/_faq
include house/_video
include house/_compareImage
include house/_dealer


doctype html
html(lang="zh-Hant")

    // Include Common Head
    include common/_head

    // Main
    body(data-page="house")
        include ./common/_header

        main
            #content.content
                +banner()

                +step()

                +info()

                +intro()

                +dealer()

                +contact()

                +compare()

                +video()

                +faq()

                +customer()

                +contact()

        include common/_footer

        include common/_script
