include moto/_banner
include moto/_step
include moto/_contact
include moto/_info
include moto/_intro
include moto/_customer
include moto/_faq
include moto/_video


doctype html
html(lang="zh-Hant")

    // Include Common Head
    include common/_head

    // Main
    body
        include ./common/_header

        main
            #content.content
                +banner()

                +step()

                +info()

                +intro()

                +contact()

                +video()

                +faq()

                +customer()

                +contact()

        include common/_footer

        include common/_script
