mixin member
    section.member
        .container
            ul.member__list
                li.member__item
                    .member__image
                        img(src="../assets/images/team/sales-01a.png")

                    .member__text
                        .member__name 黃子音LuLu 經理
                        .member__des 面對未知數，存款還能挺多久？ 在這個艱難時刻，我們一起面對！ 提供客戶完整諮詢，透由專業服務，協助面對申辦貸款，債務協商的各種問題！ 讓客戶人生，財務自由！
                        .member__experience
                            .member__experience__item
                                h4 歷年經歷
                                p
                                    span 銀行單位服務年資2年
                                    span 融資單位服務年資3年
                                    span 熊蓋厚貸服務年資2年

                            .member__experience__item
                                h4 拿手項目
                                p
                                    span ☑ 理財健檢評估
                                    span ☑ 貸款媒合評估
                                    span ☑ 機車案件協商機

                            .member__experience__item.mr-0
                                h4 輝煌經歷
                                p
                                    span ☑ 客戶好評連續達第1
                                    span ☑ 單月機車核准過百件

                li.member__item
                    .member__image
                        img(src="../assets/images/team/sales-02a.png")

                    .member__text
                        .member__name 王靖鵑(小光) 經理
                        .member__des 秉持專業諮詢、誠懇服務，為客人解決資金上的問題以及正確的借貸觀念。無論是汽機車貸款或是房二胎貸款，讓他不僅僅只是代步工具或居住的地方，讓他為您帶來最大的存在價值。
                        .member__experience
                            .member__experience__item
                                h4 歷年經歷
                                p
                                    span 銀行單位服務年資3年
                                    span 融資單位服務年資4年
                                    span 熊蓋厚貸服務年資2年

                            .member__experience__item
                                h4 拿手項目
                                p
                                    span ☑ 金融服務
                                    span ☑ 理財健檢評估
                                    span ☑ 貸款媒合評估

                            .member__experience__item.mr-0
                                h4 輝煌經歷
                                p
                                    span ☑ 業績蟬聯3月冠軍
                                    span ☑ 單月機車核准過百件

                li.member__item
                    .member__image
                        img(src="../assets/images/team/sales-03a.png")
                    .member__text
                        .member__name 專業顧問 珊珊
                        .member__des 秉持專業諮詢、誠懇服務，為客人解決資金上的問題以及正確的借貸觀念。無論是汽機車貸款或是房二胎貸款，讓他不僅僅只是代步工具或居住的地方，讓他為您帶來最大的存在價值。
                        .member__experience
                            .member__experience__item
                                h4 歷年經歷
                                p
                                    span 銀行單位服務年資3年
                                    span 融資單位服務年資4年
                                    span 熊蓋厚貸服務年資2年

                            .member__experience__item
                                h4 拿手項目
                                p
                                    span ☑ 金融服務
                                    span ☑ 理財健檢評估
                                    span ☑ 貸款媒合評估

                            .member__experience__item.mr-0
                                h4 輝煌經歷
                                p
                                    span ☑ 業績蟬聯3月冠軍
                                    span ☑ 單月機車核准過百件

                li.member__item
                    .member__image
                        img(src="../assets/images/team/sales-04a.png")
                    .member__text
                        .member__name 專業顧問 Amy
                        .member__des 秉持專業諮詢、誠懇服務，為客人解決資金上的問題以及正確的借貸觀念。無論是汽機車貸款或是房二胎貸款，讓他不僅僅只是代步工具或居住的地方，讓他為您帶來最大的存在價值。
                        .member__experience
                            .member__experience__item
                                h4 歷年經歷
                                p
                                    span 銀行單位服務年資3年
                                    span 融資單位服務年資4年
                                    span 熊蓋厚貸服務年資2年

                            .member__experience__item
                                h4 拿手項目
                                p
                                    span ☑ 金融服務
                                    span ☑ 理財健檢評估
                                    span ☑ 貸款媒合評估

                            .member__experience__item.mr-0
                                h4 輝煌經歷
                                p
                                    span ☑ 業績蟬聯3月冠軍
                                    span ☑ 單月機車核准過百件


