mixin about
    section.about
        .container
            .text__top
                p 進一步了解我們

            .text__bottom
                a(href='moto.html')
                    p 專屬機車貸款

                a(href='car.html')
                    p 專屬汽車貸款

                a(href='house.html')
                    p 專屬房屋二胎

                a(href='about.html')
                    p 關於熊蓋厚貸