mixin banner
    section.banner__home
        .container
            .text__wrap
                .text__inner
                    .title 熊蓋厚貸
                    .subtitle 專業貸款唯一指定品牌

            .img__wrap
                img(src="../assets/images/index/banner.png")


            .img__arrow
                img(src="../assets/images/index/arrow.png")