mixin customer
    section.customer
        .container
            .title__wrap
                .subtitle Customer
                .title 客戶案例

                .swiper-case.swiper-container
                    .swiper-wrapper.customer__list
                        .swiper-slide.customer__item
                            .slide-inner
                                img(src="../assets/images/customer/case-01.png")

                        .swiper-slide.customer__item
                            .slide-inner
                                img(src="../assets/images/customer/case-01.png")

                        .swiper-slide.customer__item
                            .slide-inner
                                img(src="../assets/images/customer/case-01.png")

                        .swiper-slide.customer__item
                            .slide-inner
                                img(src="../assets/images/customer/case-01.png")

                        .swiper-slide.customer__item
                            .slide-inner
                                img(src="../assets/images/customer/case-01.png")

                    .swiper-button-prev
                    .swiper-button-next

            .link__wrap.link--main
                a(href="article.html").link__more More
                    i.fa-solid.fa-arrow-right



