mixin data
    section.data
        .img__bear
            img(src="../assets/images/index/bear-data.png")

        .container
            .title__wrap.white
                .subtitle Data
                .title 成果數據

            ul.data__list
                li
                    p 我們承辦過的案件
                    .number__wrap
                        span.counter 20000
                        span +

                li
                    p 成功核貸人數
                    .number__wrap
                        span.counter 100000
                        span +

                li
                    p 案件過件率
                    .number__wrap
                        span.counter 95
                        span %

                li
                    p 年度累積撥款金額
                    .number__wrap
                        span.counter 16
                        span 億

                li
                    p LINE@客戶量
                    .number__wrap
                        span.counter 6594

                li
                    p Facebook客戶量
                    .number__wrap
                        span.counter 10523

                li
                    p Google客戶量
                    .number__wrap
                        span.counter 1000
                        span +

                li
                    p Youtube瀏覽人數
                    .number__wrap
                        span.counter 900
                        span +

