mixin notice
    section.notice
        .container
            .title__wrap
                .subtitle Notice
                .title 嚴防詐騙 慎選貸款

            .notice__content
                p 近期有許多詐騙利用貸款名義，告知受害者只需要銀行帳戶、雙證件，，而且不用保人、免照會就可以借錢，當受害者不疑有他，跟著指令操作後，才發現已被詐騙；或是要求客戶簽下關於服務酬金、諮詢費用的相關合約，申貸下來的資金活生生被剝削，卻礙於合約的內容，生怕違約，只好硬著頭皮申貸。
                p.color--yellow 選擇熊蓋厚貸讓您百分之百安心


            ul.notice__list
                li.notice__item
                    .notice__icon
                        i.fa-brands.fa-google
                    .notice__text G2金融服務認證

                li.notice__item
                    .notice__icon
                        i.fa-solid.fa-location-dot
                    .notice__text 實體據點

                li.notice__item
                    .notice__icon
                        i.fa-solid.fa-scale-balanced
                    .notice__text 法律顧問團隊

                li.notice__item
                    a(href="https://www.google.com/search?hl=zh-TW&gl=tw&q=%E7%86%8A%E8%93%8B%E5%8E%9A%E8%B2%B8#lrd=0x34693d2b7e91b675:0xb5f77e2705415f53,1" target="_blank").notice__link
                        .notice__text 查看客戶
                            span 真實評論

