mixin team
    section.team
        .container
            .title__wrap
                .subtitle Our Team
                .title 專業團隊

            .team__content
                p 專業的貸款顧問皆擁有多年貸款案件處理資歷，熟知貸款流程及金融相關規則，能夠精準分析客戶狀況，快速協助解決資金問題。我們最懂客戶急需資金的心情，秉持用最快的速度幫助客戶取得資金

            ul.team__list
                li.team__item
                    .img__wrap
                        img(src="../assets/images/team/sales-01.png")
                    .team__text 黃子音 經理

                li.team__item
                    .img__wrap
                        img(src="../assets/images/team/sales-02.png")
                    .team__text 王靖鵑 經理

                li.team__item
                    .img__wrap
                        img(src="../assets/images/team/sales-03.png")
                    .team__text 貸款顧問 珊珊

                li.team__item
                    .img__wrap
                        img(src="../assets/images/team/sales-04.png")
                    .team__text 貸款顧問 Amy

            .link__wrap
                a(href="team.html").link__more More
                    i.fa-solid.fa-arrow-right


