mixin banner
    section.banner__small
        .container
            .title__wrap
                .subtitle Articles Column
                .title 文章專欄
                .text 需要快速解決資金需求嗎？本網站提供各式貸款相關知識與案例，介紹最新的貸款產品和條件，並提供申請貸款的技巧與注意事項，讓您能夠輕鬆申請到最適合自己的貸款方案，達成個人或家庭的財務目標！
