mixin faqItem(title, content)
    li.accordion__item
        button(aria-expanded='false' type="button")
            span.accordion__title #{ title }
            span.icon(aria-hidden='true')

        .accordion__content
            p
                | !{ content }

mixin faq
    section.faq
        .container
            .title__wrap
                .title 汽車貸款常見問題

            ul.faq__list.accordion
                +faqItem("Ｑ1　機車在當鋪貸款過了該怎麼辦？機車有私人設定還能貸款嗎？", "如果機車有跟當鋪借錢，但沒有設定抵押權，可以向融資公司申請機車貸款來償還當鋪，如果有被當舖或其他私人設定，甚至抵押了證件，就不能辦理機車融資，需要找尋其他方式來解決。")
                +faqItem("Ｑ1　機車在當鋪貸款過了該怎麼辦？機車有私人設定還能貸款嗎？", "如果機車有跟當鋪借錢，但沒有設定抵押權，可以向融資公司申請機車貸款來償還當鋪，如果有被當舖或其他私人設定，甚至抵押了證件，就不能辦理機車融資，需要找尋其他方式來解決。")
                +faqItem("Ｑ1　機車在當鋪貸款過了該怎麼辦？機車有私人設定還能貸款嗎？", "如果機車有跟當鋪借錢，但沒有設定抵押權，可以向融資公司申請機車貸款來償還當鋪，如果有被當舖或其他私人設定，甚至抵押了證件，就不能辦理機車融資，需要找尋其他方式來解決。")
                +faqItem("Ｑ1　機車在當鋪貸款過了該怎麼辦？機車有私人設定還能貸款嗎？", "如果機車有跟當鋪借錢，但沒有設定抵押權，可以向融資公司申請機車貸款來償還當鋪，如果有被當舖或其他私人設定，甚至抵押了證件，就不能辦理機車融資，需要找尋其他方式來解決。")
                +faqItem("Ｑ1　機車在當鋪貸款過了該怎麼辦？機車有私人設定還能貸款嗎？", "如果機車有跟當鋪借錢，但沒有設定抵押權，可以向融資公司申請機車貸款來償還當鋪，如果有被當舖或其他私人設定，甚至抵押了證件，就不能辦理機車融資，需要找尋其他方式來解決。")
                +faqItem("Ｑ1　機車在當鋪貸款過了該怎麼辦？機車有私人設定還能貸款嗎？", "如果機車有跟當鋪借錢，但沒有設定抵押權，可以向融資公司申請機車貸款來償還當鋪，如果有被當舖或其他私人設定，甚至抵押了證件，就不能辦理機車融資，需要找尋其他方式來解決。")
                +faqItem("Ｑ1　機車在當鋪貸款過了該怎麼辦？機車有私人設定還能貸款嗎？", "如果機車有跟當鋪借錢，但沒有設定抵押權，可以向融資公司申請機車貸款來償還當鋪，如果有被當舖或其他私人設定，甚至抵押了證件，就不能辦理機車融資，需要找尋其他方式來解決。")
                +faqItem("Ｑ1　機車在當鋪貸款過了該怎麼辦？機車有私人設定還能貸款嗎？", "如果機車有跟當鋪借錢，但沒有設定抵押權，可以向融資公司申請機車貸款來償還當鋪，如果有被當舖或其他私人設定，甚至抵押了證件，就不能辦理機車融資，需要找尋其他方式來解決。")
