mixin info
    section.info
        .container
            .title__wrap
                .title 不限車種 / 免留車

            .info__content
                p 以下車種一樣能貸款，趕快讓熊貸厚貸協助您試算汽車貸款額貸，諮詢都是免費的唷！

            ul.info__list
                li.info__item
                    .img__wrap
                        img(src="../assets/images/car/info-01.png")
                    .info__text 中古車

                li.info__item
                    .img__wrap
                        img(src="../assets/images/car/info-02.png")
                    .info__text 營業車

                li.info__item
                    .img__wrap
                        img(src="../assets/images/car/info-03.png")
                    .info__text 三噸半以下貨車

                li.info__item
                    .img__wrap
                        img(src="../assets/images/car/info-04.png")
                    .info__text 15年老車專案

            ul.info__list
                li.info__item
                    .img__wrap
                        img(src="../assets/images/car/info-05.png")
                    .info__text 商用車

                li.info__item
                    .img__wrap
                        img(src="../assets/images/car/info-06.png")
                    .info__text 租賃車

                li.info__item
                    .img__wrap
                        img(src="../assets/images/car/info-07.png")
                    .info__text 新車

                li.info__item
                    .img__wrap
                        img(src="../assets/images/car/info-08.png")
                    .info__text 貸款中也能貸





