mixin intro
    section.intro
        .info
            .container
                .title__wrap
                    .title 職業不再是貸款的限制

                .info__content
                    p 不論是自營商、市場攤商、臨時工、領現族、soho族或是酒店公關，只要年滿20歲、名下有汽車都能線上申貸。

                ul.info__list
                    li.info__item
                        .img__wrap
                            img(src="../assets/images/moto/info-01.png")
                        .info__text 市場攤販，也能貸

                    li.info__item
                        .img__wrap
                            img(src="../assets/images/moto/info-02.png")
                        .info__text 家庭保母，也能貸

                    li.info__item
                        .img__wrap
                            img(src="../assets/images/moto/info-03.png")
                        .info__text 工地人員，也能貸

                    li.info__item
                        .img__wrap
                            img(src="../assets/images/moto/info-04.png")
                        .info__text 外送(送貨)員，也能貸

        .container
            .title__wrap.pt-0
                .title 汽車貸款介紹

            .intro__content
                p 車貸過件就是那麼容易！不看負債比，無須財力證明，不限職業，最高350萬額度。

            ul.intro__list
                li.intro__item
                    .intro__item__title 申貸條件
                    .intro__item__text
                        p ☑ 20-65歲
                        p ☑ 名下有汽車
                        p ☑ 有收入、職業不限
                        p ☑ 前貸已繳六期

                li.intro__item
                    .intro__item__title 所需文件
                    .intro__item__text
                        p ☑ 身分證正反面影本
                        p ☑ 車輛行照正反面影本
                        p ☑ 健保卡或駕照影本
                        p ☑ 存摺封面影本(撥款用)

                li.intro__item
                    .intro__item__title 汽車貸款優勢
                    .intro__item__text
                        p ☑ 最高額度350萬
                        p ☑ 80%高過件率
                        p ☑ 不看負債比限制
                        p ☑ 不限職業、不限車種
                        p ☑ 貸款中也還能再貸

                li.intro__item
                    .intro__item__title 無法承作狀況
                    .intro__item__text
                        p ☑ 有民間私人設定
                        p ☑ 近期已經聯徵多查
                        p ☑ 曾被本票裁定
                        p.watchout ❗還有其他狀況，歡迎向我們免費諮詢！

            .title__wrap
                .title 最高貸到2.2倍數

            .intro__content
                p 融資公司辦理汽車貸款額度較銀行高，最高可貸到車價的220%，一輛市值50萬的汽車最高可以貸到110萬。

            ul.circle__list
                li.circle__item
                    .img__wrap
                        img(src="../assets/images/moto/circle-01.png")
                    .circle__item__text
                        | 市值
                        mark 50萬
                        | 汽車

                li.circle__item__icon
                    i.fa-solid.fa-xmark

                li.circle__item
                    .img__wrap
                        img(src="../assets/images/moto/circle-02.png")
                    .circle__item__text 2.2倍

                li.circle__item__icon
                    i.fa-solid.fa-arrow-right

                li.circle__item
                    .img__wrap
                        img(src="../assets/images/moto/circle-02.png")
                    .circle__item__text 貸款額度
                        mark 110萬

