mixin step
    section.step
        .container
            .title__wrap
                .title 申貸只要４步驟

            .step__timeline
                .step__timeline__point
                .step__timeline__point
                .step__timeline__point
                .step__timeline__point

            .swiper-step.swiper-container
                .swiper-wrapper.step__list
                    .swiper-slide.step__item
                        .slide-inner
                            .step__item__title 1 . 線上免費諮詢
                            .img__wrap
                                img(src="../assets/images/car/step-01.jpg")
                            .step__item__text 線上填單留下您的聯絡方式或是撥打服務專線 0800-818188，也可以加入LINE 一對一客服，服務專員將與您聯繫核對資料。

                    .swiper-slide.step__item
                        .slide-inner
                            .step__item__title 2 . 送審1天可知結果
                            .img__wrap
                                img(src="../assets/images/car/step-02.jpg")
                            .step__item__text 資料確認無誤後將送審，當天當天內即可知道貸款結果。

                    .swiper-slide.step__item
                        .slide-inner
                            .step__item__title 3 . 對保簽約及動保設定
                            .img__wrap
                                img(src="../assets/images/car/step-03.jpg")
                            .step__item__text 會依據申請人提供的資料進行照會，並審核是否具備還款條件及申貸標準，核准後會約定好時間地點，當面確認簽約，保障彼此權益，再至監理站進行機車動保設定。

                    .swiper-slide.step__item
                        .slide-inner
                            .step__item__title 4 . 銀行24小時撥款入帳
                            .img__wrap
                                img(src="../assets/images/car/step-04.jpg")
                            .step__item__text 以上作業流程結束，就會從銀行撥款至申請人指定的帳戶，最快24小時撥付貸款，快速解決您的資金需求！

                .swiper-button-prev.swiper-step-prev
                .swiper-button-next.swiper-step-next

