header#header
    nav.header__inner
        h1.logo
            a.img(href='index.html')

        .nav__wrap
            .pc__menu
                ul.pc__menu__inner

                    mixin item(href, text)
                        li.pc__menu__item
                            a(href=href)
                                span.txt
                                    | #{ text }

                    +item('about.html', '關於我們')
                    //+item('team.html', '專業團隊')
                    +item('moto.html', '機車貸款')
                    +item('car.html', '汽車貸款')
                    +item('house.html', '房屋二胎')
                    +item('article.html', '文章專欄')
                    +item('contact.html', '聯絡我們')

                    li.pc__menu__item.d-flex
                        span.fa-solid.fa-phone

                        a(href="javascript:void(0);")
                            span.txt 0800-818188


            #menu__wrap.menu__wrap
                .menu__trigger
                    .bar
                        span
                        span
                        span
                        span

    #modal.modal
        #modal__inner.modal__inner
            .modal__top
                ul.modal__link

                    mixin item(href, tw)
                        - href = href || 'javascript:void(0);'
                        li.modal__item
                            a(href=href)
                                span.txt
                                    span.tw
                                        | #{ tw }


                    +item('about.html', '關於我們')
                    +item('team.html', '專業團隊')
                    +item('moto.html', '機車貸款')
                    +item('car.html', '汽車貸款')
                    +item('house.html', '房屋二胎')
                    +item('article.html', '文章專欄')
                    +item('contact.html', '聯絡我們')


            .modal__bottom
                .logo__wrap
                    .img
                    //-
                        p.txt
                            span.txt__inner
                                | OFFICIAL SITE

                .desc__wrap
                    a(href='privacy.html') Privacy Policy
                    p.footer__copy
                        small
                            | © 和鑫企劃有限公司
