mixin activity
    section.activity
        .container
            .title__wrap.color-main
                .subtitle Activity
                .title 活動紀錄

            .activity__content
                p 致力打造一個能讓員工無後顧之憂的工作環境，努力健全各項制度，提供豐富完善的福利措施，使每位員工及其家庭都能享受舒適愉悅的生活，感受公司給予的關懷與用心。


            ul.activity__list
                li.activity__item
                    .img__wrap
                        img(src="../assets/images/about/activity-01.png" alt="activity-image")
                    .activity__text 定期微公益活動

                li.activity__item
                    .img__wrap
                        img(src="../assets/images/about/activity-02.png" alt="activity-image")
                    .activity__text 趣味現金加碼獎勵

                li.activity__item
                    .img__wrap
                        img(src="../assets/images/about/activity-03.png" alt="activity-image")
                    .activity__text 定期美食趴

                li.activity__item
                    .img__wrap
                        img(src="../assets/images/about/activity-04.png" alt="activity-image")
                    .activity__text 公司聚餐吃好料

                li.activity__item
                    .img__wrap
                        img(src="../assets/images/about/activity-05.png" alt="activity-image")
                    .activity__text 豪華員工旅遊

                li.activity__item
                    .img__wrap
                        img(src="../assets/images/about/activity-06.png" alt="activity-image")
                    .activity__text 定期KTV歡唱趴

            .link__wrap.link--main
                a(href="https://104.com.tw/company/1a2x6blm13" target="_blank").link__more More
                    i.fa-solid.fa-arrow-right




