mixin banner
    section.banner__small
        .container
            .title__wrap
                .subtitle About
                .title 關於我們
                .text 熊蓋厚貸積極將金融與科技結合，深入分析客戶需求，以同理心為出發點，服務每位客戶，讓客戶的申貸條件受到平等對待。

