mixin help
    section.promotion
        .container
            .title__wrap
                .title 協助每位客戶 找尋核准可能

            .promotion__content
                img(src="../assets/images/about/help.gif" alt="幫助")
                .promotion__title
                    b 真實案例 解決客戶痛點
                    .promotion__text 台中的張先生是名職業水泥工，因為屬於臨時工性質，雖然日薪約三千左右，卻無薪轉及勞保證明，家人卻因病臨時急需開刀，為了籌促醫療費用張先生也曾向銀行詢問過貸款，卻因為條件及無法提出薪資證明而被婉拒。
                        br
                        br
                        | 張先生清楚的知道自己在銀行是不可能申請貸款，上網找尋了許多貸款單位，剛好找上了熊蓋厚貸，在專員詢問之下了解到張先生名下有一台貸款中的汽車，因此開始進行詳細評估，
                        span 還好張先生的車貸繳息都很正常，加上擁有丙級技術證照，在專員及熊蓋厚貸的案件協商部協助之下，成功利用這些項目以及現場工作照加分，順利核貸了60萬，讓張先生可以順利的籌促到費用。

            .link__wrap.link--main
                a(href="article.html").link__more More
                    i.fa-solid.fa-arrow-right







