mixin history
    section.history
        .container
            .title__wrap
                .subtitle history
                .title 公司沿革

            .history__inner

                .history__timeline
                    .history__timeline__point.history__timeline__point--endpoint
                    .history__timeline__point
                    .history__timeline__point
                    .history__timeline__point.history__timeline__point--endpoint

                .history__item
                    .history__year 2006
                    .history__title 雲鼎電通有限公司
                    .history__text 雲鼎電通有限公司為三大融資公司(中租、和潤、裕融)最大合作經銷單位，在金融服務市場深耕16年之久，每年經手貸款撥款金額高達18億，近年也積極朝數位化、多元化發展。
                    .history__image.justify-end
                        img(src="../assets/images/about/loan.png")

                .history__item.history__item--item2
                    .history__year 2021
                    .history__title 和鑫企劃有限公司
                    .history__text 和鑫企劃由雲鼎電通-李千田創辦人創立，提供全方位優質金融服務，並由傳統行銷服務模式積極轉型至數位金融服務，締造創新與年輕的格局。
                    .history__image.justify-start
                        img(src="../assets/images/about/hx.png")

                .history__item.history__item--item3
                    .history__year 2022
                    .history__title 熊蓋厚貸 數位金融平台
                    .history__text 熊蓋厚貸完成商標註冊，打造數位金融品牌，更有自己的吉祥物，積極將金融與科技結合，不只針對貸款服務不斷的優化流程，更積極打造更加完善的數位系統。
                    .history__image.justify-end.bearloan
                        img(src="../assets/images/about/bearloan-bear.png")
                        img(src="../assets/images/about/bearloan-logo.png")

                .history__item.history__item--item4
                    .history__year Future
                    .history__title 和鑫多元事業群
                    .history__text 和鑫企劃未來也將致力於汽車、不動產相關產業，朝向更加多元的事業群。






