mixin notice
    section.notice
        .container
            .title__wrap
                //.subtitle Notice
                .title 專業團隊×全方位服務

            .notice__content
                p 熊蓋厚貸團隊人員具有20年以上的貸款送件資歷，受過專業的教育訓練能快速評估客戶的條件狀況。不僅有機車部門、汽車部門及房二胎部門，更有案件協商部門，積極的把握每個客戶過件的機會，協調和提高客戶核准率！
                //p.color--yellow 選擇熊蓋厚貸讓您百分之百安心


            ul.notice__list

                li.notice__item
                    .notice__icon
                        img(src="../assets/images/about/svg01.svg" alt="服務")
                        span.mt-10 迅速掌握客戶痛點
                        span 滿意度遠勝同業

                li.notice__item
                    .notice__icon
                        img(src="../assets/images/about/svg02.svg" alt="服務")
                        span.mt-10 嚴守保密協定
                        span 保障客戶隱私

                li.notice__item
                    .notice__icon
                        img(src="../assets/images/about/svg03.svg" alt="服務")
                        span.mt-10 汽機車、房二胎
                        span 案件協商部門

                li.notice__item
                    .notice__icon
                        img(src="../assets/images/about/svg04.svg" alt="服務")
                        span.mt-10 深入分析客戶
                        span 規劃還款計畫




