mixin office
    section.promotion.office
        .dec01
            img(src="../assets/images/about/dec01.svg" alt="office")
        .dec02
            img(src="../assets/images/about/dec02.svg" alt="office")

        .container
            .title__wrap
                .title 不僅給客戶優質服務
                    br
                    | 也給團隊優質的工作環境

            .promotion__content
                img(src="../assets/images/about/office01.jpg" alt="office")
                img(src="../assets/images/about/office02.jpg" alt="office")
                img(src="../assets/images/about/office03.jpg" alt="office")
                img(src="../assets/images/about/office04.jpg" alt="office")
