mixin philosophy
    section.philosophy
        .container
            .title__wrap.white
                .subtitle philosophy
                .title 經營理念

            .philosophy__inner
                p 和鑫企劃強調誠信、親切、專業、創新的經營理念，並以健全的制度，健康的管理，引領團隊穩定成長，讓所有的員工都有一展長才的機會，並鼓勵各種創新想法實踐，在這裡您可以得到成就感，和鑫重視每位夥伴的專業貢獻，並給予實質的獎勵。 也希冀能以持續攀升的營運高峰，讓團隊每個人不再被經濟所困擾、為支出所擔憂，穩定賺到所希望的薪資！除了有良好工作環境、也提供學習及成長的空間。
                p 秉持以下原則，以創造雙贏契機：
                p ☑ 認真工作，持續成長，績效顯著，開心玩樂。
                p ☑ 不斷提升自我金融專業知識。
                p ☑ 深入分析客戶需求，打造雙贏。
                p ☑ 以同理心為出發點，專業服務每位客戶。
