mixin promotion
    section.promotion
        .container
            .title__wrap
                .subtitle What We Do
                .title 我們在做什麼事?

            .promotion__content
                img(src="../assets/images/about/promotion.gif" alt="推廣")
                .promotion__title
                    span 讓我們幫你把不可能化為可能
                    b 把婉拒變成核准
                    .promotion__text 在這社會上其實有40%的人都無法向銀行借貸，就因為條件並不符合銀行的貸款規範，
                        span 但其實這並不表示您條件真的很差！
                        br
                        br
                        | 您可以依靠熊蓋厚貸團隊，來協助您順利取得資金，熊蓋厚貸為現今市場融資優質合作經銷，提供專業的貸款專案評估服務，會精準的幫客戶評估加分項目，大大提升核准率，能幫客戶順利將資金貸到手、、度過難關是我們最大的宗旨！

    section.service__banner
        img(src="../assets/images/about/banner02.jpg" alt="服務Banner")







