mixin banner
    section.banner__large
        .container
            .text__wrap
                .text__inner
                    .subtitle Motorcycle Loans
                    .title 機車貸款
                    .text 在人人幾乎都有機車的時代，當急需要一筆錢時，申貸門檻低的機車貸款絕對是首選！年滿20～65歲，只要名下有機車，最高可以申辦到60萬！

            .img__wrap
                img(src="../assets/images/moto/banner.png")

