mixin compare
    section.compare
        .container
            .title__wrap
                .title 機車貸款管道比較

            .compare__inner
                picture
                    source(media="(min-width:767px)" srcset="../assets/images/moto/compare.png")
                    img(src="../assets/images/moto/compare-m.png" alt="機車管道比較")

