mixin customer
    section.customer
        .container
            .title__wrap
                .title 機車貸款案例

            .swiper-case.swiper-container
                .swiper-wrapper.customer__list
                    .swiper-slide.customer__item
                        .slide-inner
                            img(src="../assets/images/customer/moto/case-01.jpg")

                    .swiper-slide.customer__item
                        .slide-inner
                            img(src="../assets/images/customer/moto/case-02.jpg")

                    .swiper-slide.customer__item
                        .slide-inner
                            img(src="../assets/images/customer/moto/case-03.jpg")

                    .swiper-slide.customer__item
                        .slide-inner
                            img(src="../assets/images/customer/moto/case-04.jpg")

                .swiper-button-prev
                .swiper-button-next

            .link__wrap.link--main
                a(href="article.html").link__more More
                    i.fa-solid.fa-arrow-right



