mixin info
    section.info
        .container
            .title__wrap
                .title 職業不再是貸款的限制

            .info__content
                p 不論是自營商、市場攤商、臨時工、領現族、soho族或是酒店公關，只要年滿20歲、名下有機車都能線上申貸。

            ul.info__list
                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-01.png")
                    .info__text 市場攤販，也能貸

                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-02.png")
                    .info__text 家庭保母，也能貸

                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-03.png")
                    .info__text 工地人員，也能貸

                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-04.png")
                    .info__text 外送(送貨)員，也能貸

            .title__wrap
                .title 不論機車新舊款式

            .info__content
                p 機車不限廠牌、排氣量、年份，只要還可以使用，都可以用來申請機車貸款。

            ul.info__list
                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-05.png")
                    .info__text 市場攤販，也能貸

                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-06.png")
                    .info__text 王靖鵑 經理

                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-07.png")
                    .info__text 貸款顧問 珊珊

                li.info__item
                    .img__wrap
                        img(src="../assets/images/moto/info-08.png")
                    .info__text 貸款顧問 Amy


