mixin intro
    section.intro
        .container
            .title__wrap
                .title 機車貸款介紹

            .intro__content
                p 線上就可申請機車貸款，最快3分鐘完成申請！線上申請最快1天取得審核結果，把握機會不等貸！

            ul.intro__list
                li.intro__item
                    .intro__item__title 申貸條件
                    .intro__item__text
                        p ☑ 20-65歲
                        p ☑ 名下有機車
                        p ☑ 車主願意擔任保人
                        p ☑ 前貸已繳六期

                li.intro__item
                    .intro__item__title 所需文件
                    .intro__item__text
                        p ☑ 身分證正反面影本
                        p ☑ 車輛行照正反面影本
                        p ☑ 健保卡或駕照影本
                        p ☑ 存摺封面影本(撥款用)

                li.intro__item
                    .intro__item__title 機車貸款優勢
                    .intro__item__text
                        p ☑ 最高額度60萬
                        p ☑ 免留機車、免押證件
                        p ☑ 高過件率、撥款快速
                        p ☑ 不限職業、不限車種
                        p ☑ 貸款中也還再貸

                li.intro__item
                    .intro__item__title 無法承作狀況
                    .intro__item__text
                        p ☑ 有民間私人設定
                        p ☑ 近期已經聯徵多查
                        p ☑ 曾被本票裁定
                        p.watchout ❗近期剛撥款或密集申貸，建議您先培養信用


            .title__wrap
                .title 不論機車新舊款式

            .intro__content
                p 經過專案的整合,將名下機車＋手機＋商品貸,最可一次可以申貸到60萬,留下諮詢專員將立即幫您評估!

            ul.circle__list
                li.circle__item
                    .img__wrap
                        img(src="../assets/images/moto/circle-01.png")
                    .circle__item__text 名下機車

                li.circle__item__icon
                    i.fa-regular.fa-plus

                li.circle__item
                    .img__wrap
                        img(src="../assets/images/moto/circle-02.png")
                    .circle__item__text 手機

                li.circle__item__icon
                    i.fa-regular.fa-plus

                li.circle__item
                    .img__wrap
                        img(src="../assets/images/moto/circle-02.png")
                    .circle__item__text 商品貸

